html {
  background-color: #121212;
  color: #e8e8e8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    div {
      height: 100%;
      width: 100%;
      div {
        height: 100%;
        width: 100%;
        main {
          text-align: center;
          padding: 0;
          margin: 0;
          height: 100%;
          width: 100%;
          .big {
            width: 100%;
            height: 1.5rem;
            margin: 0.8rem;
            font-size: 1.5rem;
            color: #00ffff;
            font-family: "Courier New", Courier, monospace;
            strong {
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              color: #e8e8e8;
            }
          }
          .chart-container {
            box-sizing: border-box;
            border: 1px solid #606060;
            width: 100%;
            height: 100%;
            .chart-wrap {
              width: 50%;
              height: calc(
                100% - 24px * 3 - 12.8px * 3 - 12px - 29px - 19.92px * 2
              );
              float: left;
              .chart-top {
                height: 90%;
                width: 100%;
              }
              .chart-bottom {
                height: 10%;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
hr {
  width: 90%;
  border: 1px solid #606060;
  margin-top: 5px;
  margin-bottom: 5px;
}
